.leftNav {
    .nav-link {
        text-align: left;
        letter-spacing: 0.72px;
        color: #656565;
        opacity: 1;
        font-size: 18px;
    }

    .list {
        background: #F6F6F6 0% 0% no-repeat padding-box;
        opacity: 1;
    }

    .list-item {
        display: flex;
        align-items: center;
        padding: 5px 0;
    }
}

.leftNav-heading {
    text-align: left;
    font: Semibold 18px/23px Proxima Nova;
    letter-spacing: 0.72px;
    color: #202020;
    text-transform: uppercase;
    opacity: 1;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 0px 1rem 0px;
}