.product-slider-container{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DADADB;
    border-radius: 0px 0px 0px 4px;
    opacity: 1;

.gallery-wrap .img-big-wrap {
    height: 28.125rem;
  }
  
  
  
  .gallery-wrap .img-small-wrap .item-gallery {
    width: 3.75rem;
    height: 3.75rem;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
  }
  
  .gallery-wrap .img-small-wrap {
    text-align: center;
  }
  .gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
  }
}