.product-card {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dadadb;
  border-radius: 0px 0px0.25rem0.25rem;
  opacity: 1;
  width: 16rem;

  .prod-img {
    position: relative;
    .heart-icon {
      position: absolute;
      left: 5px;
      top: 5px;
      cursor: pointer;
      width: 1.25rem;
      height: 1.125rem;
    }
  }
  .card-body {
    background: #f6f7f9 0% 0% no-repeat padding-box;
    border-radius: 0px 0px0.25rem0.25rem;
    opacity: 1;
  }

  .card-title {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0px;
    color: #000000de;
    opacity: 1;
    margin-bottom: 0px !important;

    span {
      display: inline-block;
      width: 13rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 1.6rem;
    }

    span:hover {
      height: 1.85rem;
      z-index: 1;
      overflow: visible;
      // position: absolute;
    }
  }

  .card-text {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0px;
    color: #000000de;
    opacity: 1;
    margin-bottom: 0.7rem;
    height: 1.6rem;

    span {
      display: inline-block;
      width: 13rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 1.6rem;
    }

    span:hover {
      height: auto;
      z-index: 1;
      overflow: visible;
      position: absolute;
    }
  }

  .nav-icon {
    width: 1.125rem;
    height: 1.125rem;
    opacity: 1;
    text-align: left;
    font-size: 1rem;
    letter-spacing: 1.12px;
    color: #6d6d6d;
    opacity: 1;
  }

  .card-body {
    padding: 0.875rem;
  }

  .product-image img {
    // width: 16rem;
    height: 16rem;
  }

  .product-button {
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    background: #558ed4 0% 0% no-repeat padding-box;
    border-radius: 0.25rem;
    opacity: 1;
    border: none;
    cursor: pointer;
    width: 6rem;
    padding: 0.5rem 0px;
  }

  .more-button {
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    background: #558ed4 0% 0% no-repeat padding-box;
    border-radius: 0.25rem;
    opacity: 1;
    border: none;
    cursor: pointer;
    width: 6rem;
    padding: 0.5rem 0px;
    width: 7rem;
    margin-left: 0.5rem;
  }
}
