.search-bar {
  width: 37.8%;
  font-size: 1rem;
  letter-spacing: 1.12px;
  color: #c6ccc8;
  opacity: 1;
  min-width: 300px;

  .search-input {
    width: 100%;

    input {
      height: 2.75rem;
      border-radius: 0.25rem;
    }
    .searchIconDiv {
      background: #e8edf3 0% 0% no-repeat padding-box;
        border: 1px solid #c6ccc8;
        border-radius: 0px 4px 4px 0px;
        opacity: 1;
      .searchIcon {
        height: 1.6rem;
        width: 1.75rem;
        margin: 0.5rem;
        cursor: pointer;
      }
    }

    .dropdown {
      padding: 0.5rem 0.625rem 0.5rem 1.25rem;
      background: #ffffff 0% 0% no-repeat padding-box;
      border-top: 1px solid #c6ccc8;
      opacity: 1;
      border-bottom: 1px solid #c6ccc8;
      border-right: 1px solid #c6ccc8;
      border-left: 0px;
    }

    .search-results {
      position: absolute;
      top: 100%;
      background: #f6f7f9 0% 0% no-repeat padding-box;
      width: 100%;
      max-height: 350px;
      overflow: scroll;

      .result {
        display: flex;
        align-items: center;
        height: 2.5rem;
        border: 1px solid #c6ccc8;
        img {
          width: 70px;
          height: 70px;
        }

        p {
          color: black;
          margin: 0px 0px 0px 2rem;
        }
      }
    }
  }

  .dropdown-menu {
    width: 100%;
  }

  .catagory-dropdown {
    text-align: left;
    letter-spacing: 1.12px;
    color: #6d6d6d;
    opacity: 1;
    text-decoration: none;

    .search-icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
