.landingpage-banner {
  .carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.65);
  }

  .carousel-item {
    max-height: 450px;
    position: relative;
  }

  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 30%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }

  .carousel-control-prev{
    display:none;
  }

  .carousel-control-next{
    display:none;
  }
}

.landingpage-container {
  width: calc(100% - 16rem);
  margin: 0 auto;

  .heading {
    font-size: 2.375rem;
    letter-spacing: 2.66px;
    color: #3b3b3b;
    opacity: 1;
    text-align: center;
    margin: 6rem 0rem 3rem 0rem;
  }

  .product-row-heading {
    font-size: 2.375rem;
    letter-spacing: 2.66px;
    color: #3b3b3b;
    opacity: 1;
    text-align: center;
    margin: 3rem 0rem 2rem 0rem;
  }

  .view-all {
    margin-left: 50%;
    margin-bottom: 0px;
    margin-left: 47%;
    margin-bottom: 0px;
    font-size: 1rem;
    background: #007bff;
    color: #fff700;
    font-weight: 600;
  }

  .landingpage-text {
    letter-spacing: 0px;
    color: #000000de;
    opacity: 1;
    font-size: 1.125rem;
    padding: 0rem 3rem;
  }

  .categories {
    display: flex;
    justify-content: space-evenly;
    // overflow: scroll;

    .category {
      position: relative;
    }

    .category-img {
      vertical-align: middle;
      border-style: none;
      width: 25rem;
      height: 17.5rem;
    }

    .dummy-cat {
      vertical-align: middle;
      border-style: none;
      width: 25rem;
      height: 17.5rem;
    }

    .category-name {
      position: absolute;
      width: 100%;
      height: 20px;
      background: #000000 0% 0% no-repeat padding-box;
      opacity: 0.5;
      height: 78px;
      text-align: center;
      font-size: 26px;
      letter-spacing: 1.82px;
      color: #ffffff;
      vertical-align: middle;
      line-height: 78px;
      bottom: 32px;
    }
  }

  .landingpage-grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6rem;

    .grid-flex {
      display: flex;
      height: 25rem;
      width: calc(100% / 3);

      .rightLine {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        height: 90%;
      }

      .bottomLine {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }

      .grid-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // justify-content: space-evenly;
        padding: 2rem 5rem 3rem 0rem;
        margin-right: 1rem;
        margin-left: 1rem;
      }

      .grid-image {
        width: 6.25rem;
        height: 5rem;
      }

      .grid-title {
        letter-spacing: 1.4px;
        color: #3b3b3b;
        opacity: 1;
        font-size: 1.25rem;
        margin-top: 1rem;
      }

      .grid-text {
        letter-spacing: 1.26px;
        color: #878787;
        opacity: 1;
        font-size: 1.125rem;
      }
    }
  }

  .prod-carousel {
    .carousel-inner {
      position: relative;
      width: 100%;
      overflow: unset !important;
    }

    .carousel-item.active {
      z-index: 0 !important;
    }

    .carousel-item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 0 !important;
      background: rgba(0, 0, 0, 0);
    }

    .carousel-control-prev {
      margin-left: -3.8rem !important;
      width: 2.8125rem !important;
      // left: -3.8rem !important;
    }
    .carousel-control-next {
      width: 2.8125rem !important;
      // left: -3.8rem !important;
      margin-left: -3.8rem !important;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      height: 2.8125rem;
      width: 2.8125rem;
      border-radius: 50%;
      background-image: none;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 4px 6px #0000007a;
      opacity: 1;
    }

    .carousel-control-next-icon:after {
      content: ">";
      font-size: 2rem;
      color: #bfbfbf;
      opacity: 1;
      font-weight: bold;
    }

    .carousel-control-prev-icon:after {
      content: "<";
      font-size: 2rem;
      color: #bfbfbf;
      opacity: 1;
      font-weight: bold;
    }
  }
}

.startshopping {
  background: #558ed4 0% 0% no-repeat padding-box;
  border-radius: 0.25rem;
  opacity: 1;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0px;
  color: #ffffff;
  width: 10.625rem;
  height: 2.25rem;
  margin-right: 2rem;
}

.startselling {
  background: #d2d2d2 0% 0% no-repeat padding-box;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0px;
  color: #22201f;
  opacity: 1;
  width: 10.625rem;
  height: 2.25rem;
}
